<h1 align="center">TECH NEWS</h1>
<div class="card">
    <div class="row ">
        <div class="col-md-2">
            <img src="https://sm.mashable.com/t/mashable_in/photo/default/iphonepro11-03_wqft.960.jpg" height="280px" width="100%" class="w-100">
        </div>
        <div class="col-md-5 px-3">
            <div class="card-block px-3">
                <h4 class="card-title">Apple iPhone 12 Pro Camera Module Leaked; May Have LIDAR Sensor</h4>
                <p class="card-text">
                    The "iPhone 12" is anticipated to have a number of camera improvements, including a bigger sensor and the addition of some form of depth-mapping technology. If an image leak is to be believed, it is possible that Apple has decided the upcoming models will include LiDAR as part of the updated camera module</p>
                <a href="/iphone" class="btn btn-info">Read More</a>
            </div>
        </div>
<div class="col-md-5">
    <iframe width="500" height="300"
    src="https://www.youtube.com/embed/AVJUD36UZdo">
</iframe>
</div>
    </div>
</div>
<br>
<div class="card">
    <div class="row ">
        <div class="col-md-2">
            <img src="https://sm.mashable.com/t/mashable_in/news/i/its-not-ju/its-not-just-you-a-facebook-glitch-marked-authentic-coronavi_mzq4.960.jpg" height="280px" width="100%" class="w-100">
        </div>
        <div class="col-md-5 px-3">
            <div class="card-block px-3">
                <h4 class="card-title">Facebook Tried To Use NSO Group's 'Pegasus' Surveillance Software To Spy On iPhone Users</h4>
                    <p class="card-text">The CEO of infamous Israeli surveillance company NSO Group has claimed that Facebook proposed to buy its malicious software named Pegasus in 2017 to snoop on Apple iOS users.

                        In court documents filed during an ongoing lawsuit, NSO CEO Shalev Hulio claimed that "two Facebook representatives approached NSO in October 2017 and asked to purchase the right to use certain capabilities of Pegasus". The lawsuit in question Facebook claimed that NSO's flagship software Pegasus has illegally accessed messages </p>
                <a href="/fb" class="btn btn-info">Read More</a>
            </div>
        </div>
<div class="col-md-5">
    <iframe width="500" height="300"
    src="https://www.youtube.com/embed/pIyNKSYfZXQ">
</iframe>
</div>
    </div>
</div>
<br>
<div class="card">
    <div class="row ">
        <div class="col-md-2">
            <img src="https://sm.mashable.com/t/mashable_in/photo/default/google-duo-cover_4ak5.960.jpg" height="280px" width="100%" class="w-100">
        </div>
        <div class="col-md-5 px-3">
            <div class="card-block px-3">
                <h4 class="card-title">Google Duo Uses Machine Learning To Improve Call Quality </h4>
                <p class="card-text">People all across the world are relying more on audio and video calls given the current Coronavirus pandemic. However, there are also networking and audio issues that surface while trying to stay connected to people. To that end, Google recently announced WaveNetEQ, a new PLC system that’s aimed to improve the audio quality of Google Duo calls.

                    As stated in the Google AI blog, WaveNetEQ is a generative model based on DeepMind’s WaveRNN technology that’s trained with massive amounts of speech data. This speech data helps the model realistically continue short speech segments. </p>
                
                <a href="/duo" class="btn btn-info">Read More</a>
            </div>
        </div>
<div class="col-md-5">
    <iframe width="500" height="300"
    src="https://www.youtube.com/embed/jOahLzzsRtY">
</iframe>
</div>
    </div>
</div>
<br>
<div class="card">
    <div class="row ">
        <div class="col-md-2">
            <img src="https://sm.mashable.com/t/mashable_in/image/u/uber-intro/uber-introduces-favorite-drivers-and-new-price-displays-for_8nfg.960.jpg" height="280px" width="100%" class="w-100">
        </div>
        <div class="col-md-5 px-3">
            <div class="card-block px-3">
                <h4 class="card-title">Uber Partners With Flipkart To Deliver Essential Products Amid Coronavirus Lockdown in India</h4>
                <p class="card-text">In a bid to curb the spread of COVID-9 across India, PM Narendra Modi had announced a 21-day country-wide lockdown. As a part of the lockdown, several grocery stores and other shops have been shut down. However, several e-commerce platforms have stepped forward to deliver essentials to users. To that end, Uber recently announced that it has tied up with Flipkart, to offer its customers access to essential supplies across Delhi, Mumbai and Bangalore. </p>
                
                <a href="/uber" class="btn btn-info">Read More</a>
            </div>
        </div>
<div class="col-md-5">
    <iframe width="500" height="300"
    src="https://www.youtube.com/embed/mZC98lABE0w">
</iframe>

</div>
    </div>
</div>