<h1 style="text-align: center;margin-bottom: 4%;">
    Uber Partners With Flipkart To Deliver Essential Products Amid Coronavirus Lockdown in India
</h1>
<div>
    <img style="float: left;width:500px;height:300px;margin-left: 14%;margin-right: 2%; "
        src="https://sm.mashable.com/t/mashable_in/news/i/its-not-ju/its-not-just-you-a-facebook-glitch-marked-authentic-coronavi_mzq4.960.jpg">
        <iframe width="500" height="300"
        src="https://www.youtube.com/embed/pIyNKSYfZXQ">
    </iframe>
    <div class="text" style="border: 4px solid plum;float: left;margin-top: 2%;text-align: center;margin-left: 1%;margin-bottom: 3%;">
        <pre><p style="font-weight: bold;font-size: 20px;text-align: left;">
            <br>
            In a bid to curb the spread of COVID-9 across India, PM Narendra Modi had announced a 21-day country-wide lockdown.
            As a part of the lockdown, several grocery stores and other shops have been shut down. However, several e-commerce 
            platforms have stepped forward to deliver essentials to users. To that end, Uber recently announced that it has tied
            up with Flipkart,to offer its customers access to essential supplies across Delhi, Mumbai and Bangalore.

            More COVID-19 Related Coverage:
            Hackers Are Selling ‘Coronavirus Special’ Hacking Tools On Dark Web: Check Point

            PM Narendra Modi's Coronavirus Speech Highlights: #JanataCurfew, Economic Task Force, Social Distancing

            COVID-19 Is A Pandemic. How Is It Different From An Epidemic And Outbreak?

            Facebook Steps Up Efforts To Fight Coronavirus Pandemic; Commits $20 Million In Donations

            How To Keep Your Slack Status Active While *Ahem* 'Working' From Home

            Elon Musk Suggests This Malaria Drug Might Help Treat Coronavirus Patients

            10 Mindless Things To Watch In Quarantine Without Worrying About Sh*t!

            As a part of this partnership, Uber will not be charging any commission for this service
            so all the money earned would be directly given to drivers. “This marks our third such B2B partnership within a week,
             following those with bigbasket and Spencer’s Retail [...] to facilitate delivery of essential supplies to consumers. 
             All these deals help in keeping citizens indoors so we can collectively support the government in helping contain
            the spread of COVID-19”, mentioned Prabhjeet Singh, Director - Operations, and Head of Cities, Uber India & South Asia, 
            in the blog post.
        </p>
        </pre>
    </div>
</div>

<div class="container">
    <h2 style="margin-top: 2%;">Leave us a comment</h2>
    <div>
        <form (ngSubmit)="onSubmit()">


            <textarea placeholder="Add your comment!" [(ngModel)]="comment.cmnt" name="cmnt"></textarea>

            <div class="btn">
                <input type="submit" value="Comment"> &nbsp;
                <input type="reset" value="Cancel">
            </div>
        </form>
    </div>
    <div class="card-deck">
        <div class="card m-2 p-3" style="min-width: 90%;min-height: 60px;" *ngFor="let m of cmntArray;let i = index">
            {{m.cmnt}}
        </div>
    </div>

</div>