<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
  
    <a class="navbar-brand" href="">BehindTheTimes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  
      <span class="navbar-toggler-icon"></span>
  
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
  
      <ul class="navbar-nav mr-auto">
  
        <li class="nav-item active">
  
          <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
  
        </li>
  
       
  
        <li class="nav-item dropdown">
  
          <div ngbDropdown class="d-inline-block dropdown">
  
            <button class="dropbtn" id="dropdownBasic1" ngbDropdownToggle>AllNews</button>
  
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-content">
  
              <a href="/tech">Tech</a>
  
              <a href="">CoronaVirus</a>
  
              <a ngbDropdownItem>Education</a>
  
            </div>
  
          </div>
  
        </li>
  
        <li class="nav-item active">
  
          <a class="nav-link " href="#">Blog</a>
  
        </li>
      </ul>
  
    </div>
  
  </nav>
  
  
  
  
  