<h1 style="text-align: center;margin-bottom: 4%;">
    Facebook Tried To Use NSO Group's 'Pegasus' Surveillance Software To Spy On iPhone Users
</h1>
<div>
    <img style="float: left;width:500px;height:300px;margin-left: 14%;margin-right: 2%; "
        src="https://sm.mashable.com/t/mashable_in/news/i/its-not-ju/its-not-just-you-a-facebook-glitch-marked-authentic-coronavi_mzq4.960.jpg">
        <iframe width="500" height="300"
        src="https://www.youtube.com/embed/pIyNKSYfZXQ">
    </iframe>
    <div class="text" style="border: 4px solid plum;float: left;margin-top: 2%;text-align: center;margin-left: 1%;margin-bottom: 3%;">
        <pre><p style="font-weight: bold;font-size: 20px;text-align: left;">
            <br>
            The CEO of infamous Israeli surveillance company NSO Group has claimed that Facebook proposed to buy its malicious 
            software named Pegasus in 2017 to snoop on Apple iOS users.

            In court documents filed during an ongoing lawsuit, NSO CEO Shalev Hulio claimed that "two Facebook representatives
            approached NSO in October 2017 and asked to purchase the right to use certain capabilities of Pegasus".
            The lawsuit in question Facebook claimed that NSO's flagship software Pegasus has illegally accessed messages 
            from WhatsApp, Skype, Telegram, Facebook Messenger, WeChat and Apple's iMessage.
            
            The filing reported by Vice cited court documents stating, "it seems the Facebook representatives were not 
            interested in buying parts of Pegasus as a hacking tool to remotely break into phones,
            but more as a way to more effectively monitor phones of users who had already installed Onavo."
            
            Now, for the uninitiated, Onavo Protect used to be a software marketed by Facebook as a "Free VPN and Data Manager"
             that was used by the social media giant to gather
            information about what other apps Facebook users were using on their mobile devices.
            
            SEE ALSO: Facebook Introduces Community Help Platform For COVID-19 Relief
            
            "The Facebook representatives stated that Facebook was concerned that its method for gathering user data through 
            Onavo Protect was less effective on Apple devices than on Android devices," according to the court filing.
            
            A Facebook spokesperson said in a statement to Motherboard that the NSO CEO is misrepresenting conversations
             between the company and Facebook employees.
            
            "NSO is trying to distract from the facts Facebook and WhatsApp filed in court over six months ago. Their attempt 
            to avoid responsibility includes inaccurate representations 
            about both their spyware and a discussion with people who work at Facebook," the spokesperson said.
            
            NSO's CEO Hulio, meanwhile, maintains that the group sells Pegasus only to intelligence and law enforcement agency clients.
             Apple last year forced Facebook to remove Onavo Protect from the App Store (shortly followed by 
             a removal of the app from the Google Play Store as well) while Facebook retaliated by blaming 
             Apple's OS for the hacking of Amazon Founder and CEO Jeff Bezos’ phone.
            
            Investigators believe that Bezos's iPhone was compromised after he received a video file containing malware 
            through WhatsApp — in the same way when phones of 1,400 select people including journalists and human rights
             activists were broken into by Pegasus software from the NSO Group last year.
            
            SEE ALSO: TikTok Becomes The Most Downloaded Social Media App In Q1 2020: Report
        </p>
        </pre>
    </div>
</div>

<div class="container">
    <h2 style="margin-top: 2%;">Leave us a comment</h2>
    <div>
        <form (ngSubmit)="onSubmit()">


            <textarea placeholder="Add your comment!" [(ngModel)]="comment.cmnt" name="cmnt"></textarea>

            <div class="btn">
                <input type="submit" value="Comment"> &nbsp;
                <input type="reset" value="Cancel">
            </div>
        </form>
    </div>
    <div class="card-deck">
        <div class="card m-2 p-3" style="min-width: 90%;min-height: 60px;" *ngFor="let m of cmntArray;let i = index">
            {{m.cmnt}}
        </div>
    </div>

</div>